.location-admin-app {
  .add-action-button {
    width: 18%;

    .glyphicon {
      padding: 5px;
    }
  }

  .heading-row {
    display: inline-block;
    width: 100%;
  }

  .landing-heading {
    width: 50%;
  }

  .landing-cta {
    width: 500px;
    float: right;

    .review-link-button {
      margin-top: -40px;
    }

    .matching {
      float: left;
    }
  }

  .zen-button {
    border-radius: 5px;
  }

  .location-heading {
    padding: 30px 40px 10px 40px;
  }

  .location-matching-container {
    border: 2px solid $well-border;
    background: $white;
    padding: 20px;
    margin: 10px 40px 30px 40px;
  }

  .location-title {
    font-size: 30px;
    width: 100%;
    text-align: center;

    .ancestor {
      font-size: 15px;
      color: #707070;
    }
  }

  .matching-item {
    display: inline-table;
    height: 100%;
    padding: 20px;
    text-align: center;

    .zen-dropdown-item {
      .location-name {
        font-weight: bold;
        padding-right: 5px;
        float: left;
      }

      .location-subtitle {
        color: grey;
        font-size: 12px;
      }
    }
    .zen-dropdown-item-wrapper:hover {
      color: #fff;
      background-image: linear-gradient(to right, #2fa4e2, #3c8ae6);
      .location-subtitle {
        color: #fff;
      }
    }

    .zen-dropdown-item-wrapper--selected {
      color: #fff;
      background-image: linear-gradient(to right, #2fa4e2, #3c8ae6);
      .location-subtitle {
        color: #fff;
      }
    }
  }

  .mfr {
    .expando-tree {
      height: calc(100vh - 82px);
      width: 100hw;
      background: #fff;
    }

    .export-mfr-btn {
      float: right;
    }

    .header {
      font-size: 24px;
      padding: 10px;
    }
  }

  .progress-info {
    display: inline-block;
    height: 100%;
    padding: 20px;
    text-align: center;
    width: 33%;

    .number {
      font-size: 45px;
      font-weight: bold;
    }
  }

  .review {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
  }

  .review-link-button {
    min-width: 220px;
    float: right;
    margin-top: -60px;
    margin-right: 40px;

    .button-number {
      width: 15%;
      background: #fff;
      color: #2fa4e2;
      border-radius: 8px;
      float: left;
    }

    .button-text {
      width: 80%;
      float: left;
    }
  }

  .review-admin {
    .u-heading-large {
      padding-left: calc((100% - 1000px)/2);
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }

  .review-tabs {
    .zen-tabs__header-row {
      padding-left: calc((100% - 1000px)/2);
    }
  }

  .selectable-location {
    width: 100%;
    height: 55px;
    border: 0px;
    border-bottom: 1px solid $well-border;
    font-size: 20px;

    .ancestor {
      font-size: 10px;
      color: #707070;
    }

    .zen-dropdown-button__main-btn:hover {
      border: none;
      border-radius: 0;
    }

    .zen-dropdown-button__button-content {
      text-align: center;
    }

    .zen-dropdown-button__caret {
      font-size: 13px;
    }
  }

  .selectable-location:hover {
    background-image: linear-gradient(to right, #2fa4e2, #3c8ae6);
    color: #fff;

    .ancestor {
      color: #fff;
    }
  }

  .selected {
    background-image: linear-gradient(to right, #2fa4e2, #3c8ae6);
    color: #fff;
    text-align: center;

    .ancestor {
      color: #fff;
    }

    .zen-dropdown-button__main-btn {
      .location-name {
        width: 100%;
        font-size: 20px;
        font-weight: normal !important;
      }

      .location-subtitle {
        color: #fff;
        font-size: 10px;
      }
    }
  }

  .suggestions {
    width: 63%;
    min-height: 300px;
  }

  .tab-footer {
    padding: 20px;
  }

  .zen-review {
    padding: 20px;

    .u-heading-large {
      padding-top: 0px;
    }

    .zen-react-table {
      margin-top: 20px;
    }
  }

  .flagged {
    &:hover {
      color: $gray-active;
    }
    &__selected {
      color: #B22222;
    }
  }

  .right-buttons {
    width: 100%;
    margin: 10px;
    height: 65px;
  }
  .flag-button {
    background: #f9ce89;
  }
}
