.gd-exclusion-settings-button {
  &--vertical {
    right: 24px;
    // TODO(david): Inject this component rather than using absolute positioning
    position: absolute;
  }

  &--horizontal {
    margin-left: $space-s-px;
    // TODO(david): change how this positioning is done so that it is naturally
    // centered rather than hackily like this.
    margin-top: 25px;
  }
}

.gd-exclusion-settings-popover {
  &__checkbox {
    .zen-label-wrapper__label {
      font-size: 12px;
    }
  }
}
