$border-style: 1px solid darken($gray-lighter, 7%);
$graph-section-padding: 19px;
.topgraph-container .dashboard-section {
  @include container-fixed($gutter: 0);
  @include box-shadow(0 1px 1px darken($gray-lighter, 1%));
  background-color: darken($white, 1.5%);
  border: $border-style;
  margin-bottom: 20px;

  .graph-display {
    padding-bottom: $graph-section-padding;
    position: relative;

    .visualization-container {
      height: 350px;
      padding: 0px;
      background-color: initial;

      .controls, .title {
        display: none;
      }
    }

    .map-container, .plot-container {
      @include box-shadow(0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24));
    }

    // Disable the legend because there is only one field being shown
    .legend-container {
      display: none;
    }
  }

  $icon-count: 8;
  $icon-spacing: 0.1; // Column width to have between icons
  $num-columns: ($grid-columns - $icon-spacing * ($icon-count - 1)) / $icon-count;
  .graph-options-row {
    @include clearfix();
    padding-top: $graph-section-padding;
    border-top: $border-style;

    $icon-border: 1px solid #ccc;
    .dashboard-icon {
      @include make-xs-column($num-columns, $gutter: 0);
      @include make-sm-column($num-columns, $gutter: 0);
      @include make-md-column($num-columns, $gutter: 0);
      &:not(:first-child) {
        @include make-xs-column-offset($icon-spacing);  // even spacing between columns
        @include make-sm-column-offset($icon-spacing);
        @include make-md-column-offset($icon-spacing);
      }

      border: $icon-border;
      display: inline-block;

      &.selected {
        border: 2px solid green !important;
      }

      &:hover {
        border: 2px solid $blueStandard;
      }


      &.disabled {
        cursor: not-allowed;

        &:hover {
          border: $icon-border;
        }
      }
    }
  }
}

// Overrides to the ranked list for field specific pages
// TODO(stephen): Get Jonathan to settle on an design.
.field-dashboard .ranked-list-item {
  height: initial;

  .item-index, .item-name, .percent-change, .raw-value {
    @include transform(initial);

    position: initial;
    top: initial;
    overflow: initial;
    max-height: initial;
  }
}
