$icons: 'bubble-heatmap' 'line' 'map' 'pie' 'radial-area' 'radial-bars' \
        'stacked-bars' 'steamgraph' 'sunburst';

@each $icon in $icons {
  .dashboard-icon-#{$icon} {
    background-image: url('/images/dashboard/icons/#{$icon}.png');
  }
}

.dashboard-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100px;
  width: 100px;
}

@mixin make-svg-triangle($color, $up: false) {
  // Default is down
  $points: '100,0 50,100 0,0';
  @if $up {
    $points: '0,100 50,0 100,100';
  }

  background-image: url("data:image/svg+xml;charset=utf8, \
    <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'> \
      <polygon points='#{$points}' style='fill: #{$color};' /> \
    </svg>");
}

// Build our own fancy svg arrows so that we have more power to manipulate them
$neutral-color: #999;
$good-color: green;
$bad-color: red;
.arrow {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.arrow-up {
    @include make-svg-triangle($color: $neutral-color, $up: true);

    &.good {
      @include make-svg-triangle($color: $good-color, $up: true);
    }

    &.bad {
      @include make-svg-triangle($color: $bad-color, $up: true);
    }
  }

  &.arrow-down {
    @include make-svg-triangle($color: $neutral-color);

    &.good {
      @include make-svg-triangle($color: $good-color);
    }

    &.bad {
      @include make-svg-triangle($color: $bad-color);
    }
  }
}
