.detailed-group, .ranked-list-group {
  @include container-fixed($gutter: 0);
}

.geo-dashboard {
  padding-left: 10px;
  padding-right: 10px;

  .zen-page-title {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
  }
}
