Flask-Admin==1.5.3
Flask-Migrate==2.5.2
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.4.0
Flask==1.0.1
# Flask 1.0.1 requires Jinja 2.10.1 or py unit tests fail
Jinja2==2.10.1
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.16.1
blinker==1.4
celery==4.4.6
flask-caching==2.0.1
flask-login==0.4.1
flask-user==0.6.21 ; platform_python_implementation != 'PyPy'
gunicorn[gevent]==20.0.4
isodate>=0.5.4
redis==3.2.1
scipy>=1.2.1
twilio==6.24.1
rollbar==0.14.7
PyJWT==1.7.1
openpyxl>=3.0.9
typing_extensions==3.10.0.2

alembic>=1.7.1

# Pinning it's dangerous to this version as the latest version is broken
# https://stackoverflow.com/questions/71189819/python-docker-importerror-cannot-import-name-json-from-itsdangerous
itsdangerous==2.0.1
