xlrd>=1.0.0
pyshp
shapely
pyproj==1.9.6
contextlib2
lxml ; platform_python_implementation != 'PyPy'
savReaderWriter
oauthlib
requests_oauthlib
fuzzywuzzy
pystan>=2.18.1.0 ; platform_python_implementation != 'PyPy'
isoweek
unidecode
zeep==3.4.0
pymssql==2.1.5
