.confirmation-popover {
  @include zen-elevation-5;
  background: white;
  cursor: default;
  padding: 10px;
  position: absolute;
  z-index: 101;

  &__inner {
    display: inline-flex;
  }

  &__text {
    margin: 10px;
  }

  &__button {
    display: inline-block;
    margin: 5px;
  }
}
