.bar-graph-tooltip {
  background-color: $white;
  box-shadow: 0 1px 2px rgba(33,33,33,0.2);
  max-width: 500px;
  padding: $spacing-xs;
  pointer-events: none;

  &__row {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  &__row-label {
    color: #7f8c8d; // $aqt-gray-1
    flex: 1;
    margin-right: $spacing-s;
    text-align: right;
  }

  &__row-value {
    flex: 0 1 30%;
    font-weight: 700;
  }
}
