.epi-curve {
  &__visualization__container{
    position: relative,
  }

  &__tooltip{
    background-color: $zenysis-logo-base !important;
    color: $white !important;
    line-height: 1.6 !important;
  }

  &__bin-value{
    font-weight: bold;
  }
}
