{% extends 'auth/layout.html' %}

{% block auth_content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<div class="text-center">
    <h2>Reset Password</h2>
</div>
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.new_password, tabindex=10) }}
    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password, tabindex=20) }}
    {% endif %}
    {{ render_submit_field(form.submit, tabindex=90) }}
</form>
{% endblock %}

{% block scripts %}
  <script src="{{ bundle_resource_url('navbar.bundle.js') }}"></script>
{% endblock %}

