.heatmap-legend {
  position: relative;
  top: 240px;
  left: 20px;
  width: 100px;
  z-index: 2;
  background: white;
  padding: 5px;
}

.heatmap-legend-colorbar {
  border: 1px solid black;
  width: 30px;
  display: inline-block;
  background: linear-gradient(rgb(250,0,0), rgb(255, 255, 0), rgb(156, 244, 42), rgb(85, 215, 220), rgb(99, 116, 193));
}

.heatmap-legend-text {
  width: 60px;
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
