.legend-container {
  margin-top: 5px;
  @media (min-width: 800px) { padding: 20px; }
  @media (max-width: 800px) { padding: 0px; }
  padding-top: 0;
  text-align: center;
}

.small-mode .legend-container {
  padding: 0px !important;
}

.legend-row {
  display: inline-block;
  margin-bottom: .5em;
  margin-right: 1em;

  &__text {
    cursor: pointer;
    display: inline;
    line-height: 26px;
  }

  &__color-block {
    display: inline-block;
    padding-right: 5px;
  }

  &--disabled {
    opacity: 0.2;
  }
}
