.alpha-picker {
  width: 100% !important;
  margin-top: 10px;
}

.geomap-vis {
  height: 90%;
}

.well {
  background-color: #ebebeb;
}

.geo-result {
  padding-left: 10vw;
  padding-right: 10vw;

  .geo-layer {
    height: 90px;
    max-width: 200px;
    width: 10vw;

    .checkbox {
      margin-left: -15px;
      margin-top: -15px;
    }

    .layer-remove {
      float: right;
      margin-right: -25px;
      margin-top: -40px;
    }

    .layer-title {
      height: 10px;
      margin-top: -10px;
      max-width: 200px;
      width: 8vw;
    }

    .dropdown-toggle {
      margin-left: -15px;
      margin-top: -10px;
      max-width: 180px;
      width: 9vw;
    }

    .layer-settings {
      float: right;
    }

    .query-result-filter-button {
      float: right;
      margin-right: -30px;
    }

    .settings-modal {
      height: 800px;
    }

    .dropdown-menu {
      z-index: 10000;
    }
  }

  .geo-layer-container {
    float: left;
    width: 15%;
  }

  .glyphicon {
    padding-left: 5px;
  }

  .new-layer-btn {
    max-width: 200px;
    width: 10vw;

    .btn-default {
      margin-left: -15px;
      max-width: 180px;
      width: 9vw;
    }
  }

  .result-container {
    border: none;
    height: 70vh;
  }

  .result-controls-left {
    padding-left: 10%;
    padding-top: 1%;
  }

  .result-controls-right {
    padding-right: 10%;
  }

  .shape-icon {
    float: left;
  }

  .toggle-layers {
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
    height: 30px;
    width: 30px;

    .glyphicon {
      padding: 7px 7px 5px 5px;
    }
  }

  .visualization-container {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
    min-height: 80%
  }
}

.map-container {
  height: 100%;

  .leaflet-container {
    height: 80%; // Hack to account for height of graph info bar :(
    width: 100%;
  }

  // Position the search box to be inside the map, to the top right
  .map-search-box {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    z-index: 2;

    label {
      font-size: 14px;
      font-weight: $bold;
    }

    input {
      display: inline;
      font-size: 14px;
      left: 0px;
      margin-left: 5px;
      padding: 1px;
      width: initial;
    }
  }

  .map-tooltip {
    padding: 5px;
    box-shadow: none;
    min-width: 50px;
  }

  .leaflet-top.leaflet-right {
    top: 25px;
  }

  .leaflet-map-pane {
    // NOTE(stephen): Need to set the leaflet tile pane to a fixed z-index so
    // that the map legend will stack properly when exported.
    z-index: 0;
  }

  .leaflet-tooltip {
    padding: 0px;
    border: hidden;
    background-color: rgba(0,0,0,0.0);
  }

  .legend {
    background-color: #ffffff;
    border: 1px solid $gray-5;
    border-radius: $border-radius;
    bottom: 10px;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 2;

    .legend-title {
      font-weight: 700;
      text-align: center;
    }

    .legend-item-block {
      border-top: 1px solid $gray-5;
      margin-top: 5px;
      padding-top: 5px;
    }

    .legend-marker {
      $size: 13px;

      border-radius: $size;
      display: inline-block;
      height: $size;
      margin-right: 10px;
      vertical-align: middle;
      width: $size;
    }

    .legend-item-title {
      display: inline;
      font-size: 14px;

      // Constrain legend item contents to a single line.
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: 250px;
    }
  }

  .entity-container {
    .entity-sidebar {
      background-color: #ffffff;
      border-bottom: 1px solid $gray-5;
      border-radius: $border-radius;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
      top: 80px;
      width: 200px;
      padding: 10px;
      position: absolute;
      left: 10px;
      z-index: 3;

      &__item {
        border-bottom: 1px solid $gray-5;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      &__item:first-child  {
        padding-top: 0;
      }

      &__item:last-child  {
        border: 0;
      }
    }

    .legend {
      background-color: #ffffff;
      border-bottom: 1px solid $gray-5;
      border-radius: $border-radius;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2);
      bottom: 10px;
      font-size: 14px;
      width: 400px;
      padding: 10px;
      position: absolute;
      left: 10px;
      z-index: 2;

      .legend-title {
        font-weight: 700;
        text-align: center;
      }

      .legend-item-block {
        border-top: 1px solid $gray-5;
        margin-top: 5px;
        padding-top: 5px;
      }

      .legend-item-title {
        display: inline;
        font-size: 14px;

        // Constrain legend item contents to a single line.
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 250px;
      }

      .legend-marker {
        $size: 13px;

        border-radius: $size;
        display: inline-block;
        height: $size;
        margin-right: 10px;
        vertical-align: middle;
        width: $size;
      }
    }
  }
}
