.settings-block {

  margin-bottom: 20px;

  &__title {
  }

  &__inner-title {
    margin-left: 15px;
    margin-top: 20px;
  }

  &__title:after {
    content: "";
    display: block;
    width: 30px;
    border-bottom: 3px solid  $slate;
  }

  &__contents {
    font-size: 16px;
    margin-top: 13px;
  }
}

// HACK(stephen): Fight really hard to overcome the very rigid controls settings
// styles that generate a lot of wasted space and are very inflexible.
.table-row-controls {
  display: flex;
  flex-wrap: wrap;

  // Force the individual sections to look like separate sections despite the
  // controls settings requiring them to be all lumped into one.
  &__spacer {
    background-color: $white;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    border-top: 1px solid #d1d1d1;
    height: 20px; // Match the height of spacing between blocks.
    margin-left: -1px;
    margin-right: -1px;
    width: calc(100% + 2px); // Fill the entire width including white borders.
  }

  &__header {
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    display: block;
    flex: 1 0 100%;
    font-size: 14px;
    font-weight: bold;
    margin-block-end: 1em;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-top: 10px;
  }

  // Disable bootstrap grid because we are FLEXING our BOX.
  & div[class^="col-xs"] {
    float: none;
    height: initial;
    line-height: initial;
    width: initial;
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .control-col, .label-col {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
  }
}
