.edit-selected {
  border-color: #3f73b4;
  border-style: solid;
  border-width: 5px;
  box-shadow: 5px 10px 30px 0px grey;
}

.grid-dashboard-container__pushable--pushed {
  .dashboard-item:not(.edit-selected){
    opacity: 0.44;
  }
}

.edit-query-title {
  border-bottom: 1px solid #e1e8ed;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}

.edit-view-type {
  background-color: white;

  .dropdown-menu {
    max-width: 200px;
  }

  .glyphicon {
    padding-right: 5px;
  }
}

.edit-sidebar {
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 10px 1px grey;
  position: fixed;
  top: 50px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;

  .btn.btn-link.query-form__reset-btn {
    display: none;
  }

  .btn-close {
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    opacity: 0.3;
    position: fixed;
    z-index: 100;

    @media (min-width: 2000px) {
      left: 23.5vw;
    }

    @media (max-width: 2000px) {
      left: 470px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .close-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
  }

  .col-md-5 {
    padding-top: 10px;
    width: 100%;
  }

  .col-md-7 {
    width: 100%;
  }

  .aqt-query-form-panel {
    overflow-y: auto;
    width: 100%;
  }

  .query-form-panel-title {
    margin-left: 20px;
    margin-top: 25px;
  }

  .query-form {
    height: calc(100vh - 255px);
    min-width: 500px;
    width: 25vw;
  }

  .query-form__form-panel {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  .query-form__selections-panel-section {
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  .query-button-container {
    bottom: 0;
    margin: 0px 0px 20px 10px;
    position: fixed;
    width: 300px;
    z-index: 8;
  }

  .query-form__analyze-btn {
    margin-bottom: -10px;
  }

  .select-indicator-container .dropdown-menu.open  {
    max-width: 100%;
    min-width: 100%;
  }

  .Select-menu-outer {
    height: 150px !important;
    overflow-y: scroll;
  }
}

.float {
  height: 100vh;
  top: 0px;
  position: fixed;
  z-index: 5001;

  .aqt-query-form-panel {
  }

  .query-form {
  }
}

.sidebar-query-form {
  width: 500px;
}

.grid-dashboard-container {
  &__pushable {
    transition: all .3s;

    &--pushed {
      .grid-dashboard {
        transition: all .3s;
        transform: translateY(20px) scale(.7);
      }
    }
  }
}

.sidebar-view-type-picker {
  display: flex;
  width: 100%;

  .view-btn {
    bottom: 0;
    flex: 1
  }

  .view-btn-active {
    background: white;
    border-bottom: 1px solid $white;
    border-color: #dddddd;
    box-shadow: none;
    color: #333;
    flex: 1;
  }

  .view-btn-inactive {
    background: #f0f0f0;
    flex: 1;
  }
}

.sidebar-query-form-title {
  color: $slate;
  padding: 25px 118px 0px 30px;
}
