{% if config.IS_PRODUCTION and not config.IS_TEST %}
  {% if deployment_name == "gates_malaria" %}
    <script type="text/javascript">
      {% if enable_crisp and not is_screenshot_request and user and user.isAuthenticated  %}
          window.CRISP_RUNTIME_CONFIG = {
            locale: window.__JSON_FROM_BACKEND.locale,
          };
          window.$crisp=[];window.CRISP_WEBSITE_ID="{{crisp_chat_id}}";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
          $crisp.push(["set", "session:data", [
            [
                ["user_name", "{{user.username}}"],
                ["deployment", "{{deployment_name}}"],
              ]
            ]]);
          $crisp.push(["set", "user:nickname", "{{user.fullName or user.username}}"]);
        {% endif %}
    </script>
    <script src="/js/analytics_mock.js"></script>
  {% else %}
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load('0Prx3d1jXt9ayAmBauMuh77gsAgIFako');
      }}();
      {% if user and user.isAuthenticated %}
        analytics.identify('{{user.username}}', {
          "$name": '{{user.fullName}}',
          "$email": '{{user.username}}',
          "firstName": '{{user.firstName}}',
          "lastName": '{{user.lastName}}',
          "created": '{{ user.created }}',
          "$last_login": new Date(),
          "deployment": '{{deployment_name}}',
          "prod": {{'true' if IS_PRODUCTION else 'false'}},
          "accountStatus": 'active',
          "isZenysis": '{{ user.username }}'.includes('@zenysis.com'),
        });
        analytics.ready(function() {
          mixpanel.people.set_once('First Login', new Date().toISOString());
        });
        {% if enable_crisp and not is_screenshot_request %}
          window.CRISP_RUNTIME_CONFIG = {
            locale: window.__JSON_FROM_BACKEND.locale,
          };
          window.$crisp=[];window.CRISP_WEBSITE_ID="{{crisp_chat_id}}";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
          $crisp.push(["set", "session:data", [
            [
                ["user_name", "{{user.username}}"],
                ["deployment", "{{deployment_name}}"],
              ]
            ]]);
          $crisp.push(["set", "user:nickname", "{{user.fullName or user.username}}"]);
        {% endif %}
      {% endif %}
      analytics.page()
    </script>

    {% if js_version %}
      <script type="text/javascript">
        analytics.ready(function() {
          window.Rollbar.configure({
            captureUncaught: true,
            captureUnhandledRejections: true,
            payload: {
              client: {
                javascript: {
                  code_version: '{{js_version}}',
                },
              },
            },
          });
        });
      </script>
    {% endif %}
  {% endif %}
{% else %}
  <script src="/js/analytics_mock.js"></script>
{% endif %}
