.zen-icon {
  // TODO(stephen, anyone): Remove this because it should not be necessary. Only
  // was left in because it is hard to know if it is overriding a different
  // style (it shouldn't be, but the Icon component has a lot of legacy
  // problems with spacing and alignment!).
  margin-right: 0;
}
