.zen-page-title {
  background-color: $zenysis-logo-base;
  color: $white;
  padding: 9px 15px;
  position: relative;
  z-index: 500;

  &__title {
    font-size: 22px;
    display: inline-block;
  }

  &__subtitle {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
}
