$navbar-drop-down-border-radius: 10px;

// This should correspond to MOBILE_VIEW_WIDTH in components/Navbar/util.jsx
$max-mobile-width: 678px;

.navbar {
  background-image: $blue-primary-gradient;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: $white;
  font-size: $font-l;
  height: $navbar-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5000;

  .zen-dropdown__option-list {
    /*
     TODO(dennis): The max height property here should be less than the
     max property of the whole drop down. This prevents very many items greater
     than the overall drop down height to overflow the drop down e.g if a user
     has very many dashboards. A better approach would be having this in code
     such that the overall height of the contents is calculated as say the
     menuMaxHeight-100 but there is currently no obvious way to do it. Having
     it here might cause the values not to be in sync if a user ever changes
     the drop down max height in JavaScript code
    */
    max-height: 500px;
    overflow: auto;
  }
}

.navbar-title-container {
  background: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  float: left;
  height: $navbar-height;
  padding: $space-s-px $space-l-px $space-s-px $space-l-px;

  &:hover {
    background-color: $blue-primary-hover;
  }

  &__logo {
    padding-right: $space-s-px;
    width: 40px;

    .flag {
      height: 27px;
      // to correctly show only the flag
      // HACK(nina): Need to vertically align flag
      margin-top: -5px;
      // slightly scale flag horizontally to prevent it from appearing
      // vertically stretched
      transform: scaleX(1.05);
      vertical-align: middle;
      width: 39px; // This would be 36px, but we need to increase the size
    }
  }

  img {
    height: 27px;
    // HACK(nina): Need to vertically align flag
    margin-top: -5px;
    // slightly scale flag horizontally to prevent it from appearing
    // vertically stretched
    transform: scaleX(1.05);
  }
}

.navbar-items {
  display: flex;
  height: $navbar-height;

  &__left {
    flex: 1;
  }

  &__right {
    float: right;
  }
}

.navbar-item {
  background-color: inherit;
  border: none;
  color: inherit;
  display: inline-block;
  height: $navbar-item-height;
  margin: 0px;
  padding: $space-s-px $space-l-px;
  position: relative;
  vertical-align: middle;

  &--active {
    background: $blue-primary-active;
  }

  a {
    color: inherit;
  }

  // Overriding dropdown CSS
  .zen-dropdown-button {
    height: $navbar-height;
  }

  // Overriding icon CSS
  .zen-icon {
    margin-left: $space-xxs-px;
  }

  // Overriding caret dropdown CSS
  .zen-caret {
    display: inline-block;
    // HACK(nina): Caret needs to vertically center with text
    position: relative;
    top: -2px;
  }

  // Overriding dropdown CSS
  .zen-dropdown-button__button-content {
    overflow: inherit;
  }
}

.navbar-item:hover {
  background-color: $blue-primary-hover;
  border: none;
  border-radius: 0px;
}

.navbar-mobile {
  // Overriding normal class for mobile
  .navbar {
    // On Screen sizes below 321px, Elements pop out of the Navbar we therefore
    // reduce font size to prevent navbar items from going out of the NavBar
    @media screen and (max-width: 321px) {
      font-size: 1.5rem;
    }

    &__menu-container {
      background: $white;
      border: 1px solid rgba($gray, 0.5);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      min-height: 100vh;
      overflow: 'scroll';
      position: absolute;
      right: 0;
      top: $navbar-height + 2px;
      width: 80vw;

      .navbar-item {
        background-color: unset;
        color: #333;
        text-align: left;
        width: 100%;

        &:hover {
          background: $gray-light;
        }

        .zen-caret {
          font-size: 1.5rem;
        }

        &--active {
          background: rgba($slate, 0.5);
        }
      }

      .navbar-item__more-links {
        &--open {
          background: $blue-lightest;
        }

        .collapsible-link-children {
          .navbar-item--link {
            padding-left: 50px;
          }
        }
      }
    }
  }

  &-summary-container {
    background: $gray-light;
    border-bottom: 1px solid rgba($gray, 0.5);
    border-top: 1px solid rgba($gray, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);

    .navbar-dropdown-summary__item {
      border: none !important;
      color: $black;
      max-width: inherit;
      width: 100%;

      div:last-child {
        font-weight: bold;
      }
    }
  }
}

.navbar-dropdown-button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  height: $navbar-height;
  padding: $space-s-px $space-l-px $space-s-px $space-s-px;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    background-color: $blue-primary-hover;
    border: inherit;
    border-radius: inherit;
  }

  &__main-icon {
    position: relative;
    i {
      top: 5px;
    }
  }
}

.navbar-dropdown-menu {
  $border-width: 8px;
  $border-bottom-width: 12px;
  border: none;
  border-radius: $navbar-drop-down-border-radius;
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2);

  line-height: 40px;
  margin-top: -4px;
  max-height: 90vh;

  &:before {
    border: $border-width solid transparent;
    border-bottom-color: $white;
    border-bottom-width: $border-bottom-width;
    content: '';
    height: 0;
    position: absolute;
    right: 16px;
    top: -($border-bottom-width + $border-width + 2);
    width: 0;
  }

  &__icon {
    padding-right: 8px;
  }

  // reduce the distance between the locale text and the flags
  &__icon + span {
    display: inline-block;
    margin-left: -29px;
  }

  .flag {
    // reduce flag size and change its positioning to match other icons
    transform: scale(0.35, 0.4) translate(-41px, -5px);
    vertical-align: middle;
  }

  .zen-dropdown-item-wrapper {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: $gray-light;
      color: $black;
    }

    &:last-of-type:hover {
      border-bottom-left-radius: $navbar-drop-down-border-radius;
      border-bottom-right-radius: $navbar-drop-down-border-radius;
    }

    &:first-of-type {
      &:hover {
        border-top-left-radius: $navbar-drop-down-border-radius;
        border-top-right-radius: $navbar-drop-down-border-radius;
      }
    }
  }

  &__beta {
    color: red;
    margin-left: $space-xxxs-px;
  }
}

.navbar-dropdown-summary {
  background: $gray-light;
  border-top-left-radius: $navbar-drop-down-border-radius;
  border-top-right-radius: $navbar-drop-down-border-radius;
  cursor: default;

  &__item {
    font-size: $font-m;
    line-height: $spacing-m;
    max-width: 220px;
    padding-bottom: $spacing-xs;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-child) {
      border-top: 0.3px solid $light-gray-1;
      padding-top: $spacing-xs;
    }
  }

  &__title,
  &__title:hover {
    color: $slate;
  }

  &__title-name {
    font-style: italic;
  }
}

.navbar-more-links {
  &__button {
    background: inherit;
    border: none;
    color: inherit;

    .zen-caret__icon {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &__menu {
    .zen-dropdown-item-wrapper {
      font-size: $font-l !important;
    }
  }
}

.dashboards-dropdown-button {
  display: inline-block;
}

.help-button {
  vertical-align: baseline;
}

// NOTE(nina): This is a common style for popover 'dropdowns'. We could
// consolidate it into the popover css if we haven't already
.help-button-menu {
  line-height: 3;
  &__item {
    background: none;
    border: none;
    display: block;
    padding: 0px $space-s-px 0px $space-s-px;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $white-hover;
      border-radius: 5px;
    }

    &:hover:first-child {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:hover:last-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    &:hover:only-child {
      border-radius: 5px;
    }
  }
}

// HACK(nina): $GatesMalariaDemoHack - style changes to the nav bar
.navbar-gates-malaria {
  background-color: #0262ff;
  background-image: none;

  .navbar-item:hover,
  .navbar-title-container:hover,
  .navbar-dropdown-button:hover {
    background-color: #6287ed;
  }

  .navbar-item--active {
    background-color: #2649c4;
  }

  .navbar-title-container img {
    margin-top: -8px;
    transform: none;
  }
}
