$navbar-drop-down-border-radius: 10px;

.navbar {
  background-image: $blue-primary-gradient;
  color: #eee;
  font-size: 2rem;
  left: 0;
  line-height: $navbar-height;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5000;
  height: $navbar-height;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

  &__changelog-container {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
  }

  &__title-container {
    cursor: pointer;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 20px;

    &:hover {
      background-color: $blue-primary-hover;
    }

    img {
      width: 4em;
      height: auto;
      margin-left: 1em;
      margin-bottom: 0.2em;
    }
  }

  &__logo {
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;

    .flag {
      // slightly scale flag horizontally to prevent it from appearing vertically
      // stretched
      transform: scaleX(1.05) translateY(-3px);
      vertical-align: middle;
    }
  }

  &__title {
    margin-top: 1px;
    display: inline-block;
  }

  &__links {
    &--left {
      float: left;
    }

    &--right {
      float: right;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-block;
    height: $navbar-item-height;

    > * {
      height: $navbar-item-height;
    }

    &--link {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      // On screen sizes between the given range, some links move out of the
      // Navbar, reducing the padding to prevent links from going out of the navbar
      @media screen and (min-width: 678px) and (max-width: 767px) {
        padding-left: 9px;
        padding-right: 9px;
      }
    }

    &--active {
      background: $blue-primary-active;
    }

    a {
      color: inherit;
    }

    button {
      background-color: inherit;
      border: none;
    }
  }

  &__item:hover {
    background-color: $blue-primary-hover;
  }

  .zen-dropdown__option-list {
    /*
     TODO(dennis): The max height property here should be less than the
     max property of the whole drop down. This prevents very many items greater
     than the overall drop down height to overflow the drop down e.g if a user
     has very many dashboards. A better approach would be having this in code
     such that the overall height of the contents is calculated as say the
     menuMaxHeight-100 but there is currently no obvious way to do it. Having
     it here might cause the values not to be in sync if a user ever changes
     the drop down max height in JavaScript code
    */
    max-height: 500px;
    overflow: auto;
  }

  .more-dropdown-link {
    .zen-dropdown {
      &__menu {
        left: 0;
        transform: translateX(unquote("calc(-50% + 45px)"));
        right: auto !important;

        &:before {
          left: unquote("calc(50% - 4px)");
        }
      }
    }

    .zen-dropdown-item-wrapper {
      font-size: 1.8rem !important;
    }

    .zen-caret__icon {
      margin-top: 36%;
      font-size: 12px;
      font-weight: bold;
      margin-left: 2px;
    }
  }

  .zen-dropdown__menu {
    &--open {
      max-height: 90vh;
      top: $navbar-height - 10px;
      overflow: visible;
      border-radius: $navbar-drop-down-border-radius;
      border: none;
      box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.2);
    }

    $border-width: 8px;
    $border-bottom-width: 12px;

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border: $border-width solid transparent;
      border-bottom-width: $border-bottom-width;
      border-bottom-color: $white;
      top: -($border-bottom-width + $border-width - 2px);
      right: 16px;
    }
  }

  .navbar__item--link-offset {
    top: -1px;
  }
}

.navbar__mobile {
  &.navbar {
    // On Screen sizes below 321px, Elements pop out of the Navbar we therefore
    // reduce font size to prevent navbar items from going out of the NavBar
    @media screen and (max-width: 321px) {
      font-size: 1.5rem;
    }
  }

  .navbar {
    &__item--link {
      padding-left: 5px;
      padding-right: 5px;
    }

    &__logo {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title-container {
      padding-right: 10px;
    }

    &__links--right {
      .navbar__item--link {
        font-size: 2.5rem;

        .glyphicon {
          height: unset;
          top: 2px;
          margin-right: 0;
        }

        &:hover {
          background: $blue-primary-hover;
        }
      }

      button {
        background: inherit;
        border: none;
      }
    }

    &__menu-container {
      background: $white;
      border: 1px solid rgba($gray, 0.5);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      min-height: 100vh;
      overflow: 'scroll';
      position: absolute;
      right: 0;
      top: $navbar-height + 2px;
      width: 80vw;

      .navbar__item {
        &--link {
          color: #333;
          width: 100%;

          &:hover {
            background: $gray-light;
          }

          .zen-caret {
            font-size: 1.5rem;
          }

          button {
            background-color: unset;
            text-align: left;
            width: 100%;
          }
        }

        &--active {
          background: rgba($slate, 0.5);
        }
      }

      .navbar-item__more-links {
        &--open {
          background: $blue-lightest;
        }

        .collapsible-link-children {
          .navbar__item--link {
            padding-left: 50px;
          }
        }
      }
    }
  }

  &-summary-container {
    background: $gray-light;
    border-bottom: 1px solid rgba($gray, 0.5);
    border-top: 1px solid rgba($gray, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);

    .navbar-dropdown-summary__item {
      border: none !important;
      color: $black;
      max-width: inherit;
      width: 100%;

      div:last-child {
        font-weight: bold;
      }
    }
  }
}

.navbar-dropdown {
  &__main-icon {
    position: relative;

    i {
      top: 5px;
    }
  }

  &__icon {
    padding-right: 8px;
  }

  // reduce the distance between the locale text and the flags
  &__icon + span {
    display: inline-block;
    margin-left: -29px;
  }

  .flag {
    // reduce flag size and change its positioning to match other icons
    transform: scale(0.35, 0.4) translate(-41px, -5px);
    vertical-align: middle;
  }

  // override default dropdown CSS
  &.zen-dropdown {
    .zen-dropdown {
      &__menu {
        line-height: 40px;
        top: unquote("calc(100% - 3px)");

        .zen-dropdown-item-wrapper {
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background: $gray-light;
            color: $black;
          }

          &:last-of-type:hover {
            border-bottom-left-radius: $navbar-drop-down-border-radius;
            border-bottom-right-radius: $navbar-drop-down-border-radius;
          }

          &:first-of-type:not(.dashboards-dropdown__new-dashboard-option-wrapper):hover {
            border-top-left-radius: $navbar-drop-down-border-radius;
            border-top-right-radius: $navbar-drop-down-border-radius;
          }
        }
      }
    }

    .zen-dropdown-button__main-btn {
      background: none;
      border: none;
      color: inherit;
      font-size: inherit;
      height: 100%;
      margin-top: -5px;
      padding: 0 12px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .zen-dropdown-button__button-content {
      position: relative;
      top: 1px;
    }
  }

  &.dashboards-dropdown {
    .zen-dropdown__button-content {
      top: 2px;
    }
  }
}

.navbar-dropdown-summary {
  background: $gray-light;
  border-top-left-radius: $navbar-drop-down-border-radius;
  border-top-right-radius: $navbar-drop-down-border-radius;

  &__item {
    font-size: $font-m;
    line-height: $spacing-m;
    max-width: 220px;
    padding-bottom: $spacing-xs;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-child) {
      border-top: 0.3px solid $light-gray-1;
      padding-top: $spacing-xs;
    }
  }

  &__title-name {
    font-style: italic;
  }
}

.navbar-dashboards-dropdown {
  .zen-caret {
    margin-right: 0.6em;
    font-size: 12px;
  }
}
