.literally {
  height: 100%;
}

.annotate-canvas {
  width: 100%;
  height: 80%;
}

.annotation-container {
  width: 100%;
  height: 100%;
}

.annotation-container > button {
  margin-right: 7px;
}

.annotation-container-inner {
  margin-top: 35px;
  margin-bottom: 25px;

  height: 100%;
}

// Any elements that need to change styles when being exported should handle
// that here.
body.html2canvas {
  // Any elements that should be hidden during exporting should include this
  // class.
  // NOTE(stephen): Choosing visibility: hidden here so that the positioning of
  // elements on the screen is identical in the screenshot vs the original. This
  // is different from the `data-html2canvas-ignore` element tag provided by
  // html2canvas which fully excludes the element from rendering.
  .hide-on-export {
    visibility: hidden;
  }

  // Leaflet animates tiles loading by animating the opacity. This is really
  // annoying when we are trying to capture and download the visualization as
  // soon as everything is rendered. Override the opacity that leaflet sets.
  // NOTE(stephen): This is also programmatically configurable through the
  // `fadeAnimation` Leaflet map configuration, but there is no good way to
  // set this while exporting images.
  .leaflet-tile-pain img.leaflet-tile {
    opacity: 1 !important;
  }

  // Cannot directly add the `hide-on-export` class name to leaflet controls
  // so hiding it manually here instead.
  .leaflet-control-container {
    visibility: hidden;
  }
}
