.aqt-query-result-action-buttons {
  align-items: center;
  display: flex;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  &__primary-buttons {
    flex: 1;

    span:last-child {
      .aqt-action-button {
        margin-right: 0;
      }
    }
  }

  &__secondary-buttons {
    &--button {
      margin-right: 6.25px;
      display: inline-block;
    }

    &--button:last-of-type {
      margin-right: 16.25px;
      padding: 10px 0px;
      @media (max-width: 1150px) {
        margin-right: 6.25px;
        padding: 8px 0px;
      }
    }

  }

  &--small-mode {
    .action-button {
      background: transparent;
      opacity: 0.4;
      padding-left: 7px;
      padding-right: 7px;

      &:hover {
        opacity: 1;
      }
    }

    .query-result-custom-calculations-button {
      position: relative;
    }
  }
}

.query-result-action-buttons {
  &--small-mode {
    .action-button {
      background: transparent;
      opacity: 0.4;
      padding-left: 7px;
      padding-right: 7px;

      &:hover {
        opacity: 1;
      }
    }

    .query-result-custom-calculations-button {
      position: relative;
    }
  }
}

.query-result-export-button,
.download-image-button {
  &__dropdown {
    display: inline;

    .zen-dropdown-button__main-btn:hover {
      border: none;
    }
  }

  &__dropdown-button {
    &:active:focus {
      // TODO(stephen, anyone): This needs to be a color variable. Currently is
      // hardcoded everywhere.
      background-color: #e1eaf1;
      box-shadow: none;
      outline: initial;
    }
  }
}

.query-result-custom-calculations-button, .query-result-filter-button {
  display: inline-block;
}
