// General SettingsModal styles across all tabs
.settings-modal {
  .form-control {
    height: inherit;
  }

  label {
    white-space: nowrap;
  }

  .wrap-label-text {
    white-space: normal;
    line-height: 1;
  }

  .controls-section {
    .bootstrap-select {
      width: 100% !important;

      .zen-dropdown__menu--open {
        width: 100%;
        a {
          .text {
            margin-left: -10px;
            overflow: hidden;
            padding-right: 10px;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
      }
    }
  }

  .checkbox:first-child,
  .radio:first-child {
    margin-top: 2px;
  }

  .checkbox:last-child,
  .radio:last-child {
    margin-bottom: 0;
  }
}

// AxesSettingsTab styles
.axes-settings-tab {
  .y-axis-sub-section {
    position: relative;
  }

  .range-to {
    margin-left: -15px;
  }

  label {
    white-space: inherit;
    line-height: normal;
  }
}

// SeriesSettingsTab styles
.series-settings-tab {

  // Styling for table columns widths
  .zen-table {
    table-layout: fixed;

    th {
      text-align: center;
    }

    th.color, td.color {
      width: 30px;
      vertical-align: middle;
    }

    th.dataLabelFormat, td.dataLabelFormat {
      width: 120px;
    }

    th.dataLabelFontSize, td.dataLabelFontSize {
      width: 85px;
    }

    th.isVisible, td.isVisible {
      width: 30px;
    }

    th.order, td.order {
      padding: 5px;
      width: 30px;
    }

    th.showSeriesValue, td.showSeriesValue {
      width: 75px;
    }

    th.yAxis, td.yAxis {
      width: 75px;
    }

    th.showConstituents, td.showConstituents {
      width: 100px;
    }
  }

  // Styling for isVisible checkbox
  td.isVisible {
    .zen-checkbox {
      margin-top: 6px;

      &--disabled {
        color: $gray;
      }
    }
  }

  // Styling for show value checkbox
  td.showSeriesValue {
    .zen-checkbox {
      display: table;
      margin: 0 auto;
    }
  }

  // Styling for color picker
  .color {
    .zen-color-block__icon {
      margin-top: 2px;
    }
  }

  // Styling for up/down ordering carets
  .order {
    .series-order-carets {
      display: table;
      margin: 0 auto;

      .zen-caret {
        color: $gray-mid-light;
        cursor: pointer;
        line-height: 20px;
        transition: color 0.2s ease;

        &:hover {
          color: $gray;
        }

        &.caret-down {
          margin-top: -6px;
          position: relative;
          top: -1px;
        }

        &.disabled {
          color: lighten($gray-mid-light, 15%);
          cursor: not-allowed;
        }
      }
    }
  }

  // Styling for y-axis dropdown
  .yAxis {
    .zen-dropdown {
      margin: 0 auto;
      display: table;
    }
  }
}

// LegendSettingsTab styles
.legend-settings-tab {
  .legend-controls {
    margin-top: 10px;
  }
}

// ControlsGroup styles
.controls-group-container {
  $bottom-margin: 10px;
  $control-height: 32px;

  .control {
    // Ensure labels and inputs are vertically aligned.
    height: $control-height;
    line-height: $control-height;
    margin-bottom: $bottom-margin;

    // Special case for checkbox styling since it needs more work to
    // vertically align.
    .zen-checkbox {
      label {
        vertical-align: middle;
      }

      input[type="checkbox"] {
        margin-top: 0;
      }
    }

    // The line-height used above to center labels messes with the dropdown item
    // heights and causes them to be larger than we want. Reset it to a smaller
    // size here.
    .zen-dropdown__menu {
      line-height: 18px;
    }

    // Remove atrocious bootsrap radio styling.
    .radio {
      display: inline-block;
      margin-right: 10px;

      input[type=radio] {
        position: relative;
      }

      .checkable-item__item-content {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  // The last controls group in a set should not have bottom margin applied.
  // NOTE(stephen): Applying this to the entire control group instead of an
  // individual control since multiple controls appear in a group, but we only
  // care about the last group.
  &:last-of-type {
    margin-bottom: -$bottom-margin;
  }
}
