$row-height: 30px;
.select-indicator-group-row {
  line-height: $row-height;
  padding-left: 10px;
  padding-right: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-top: 1px solid $light-gray-2;
  color: $dark-gray-1;
  font-weight: 700;

  &:hover {
    background-color: $light-gray-4;
  }

  .zen-caret {
    font-size: 10px;
    margin-right: 10px;
  }
}
